.DS_Store
Thumbs.db
/fsh-generated
/input-cache
/output
/temp
/template

.index.json
.index.db
/CodeSystem-kdl-properties.json

# artifact of the "Download: JSON Resources" task
json-resources.zip

# IDE
.idea/
